body{
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.button-add{
  font-family: "Montserrat", sans-serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}
.button-delete{
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
  font-size: 10px;
  color: red;
  font-weight: bolder;
}

.App {
  display: flex;
  justify-content: space-around;
  
  
}

.whole-plan{
  width: 50%;
  height: 100vh;
}
.notes{
  width: 70%;
 
}
.myInput{
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-top: 30px;
}
textarea{
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;

}
.selected{
  background-color: #fad106;
  border-radius: 10px;
 
}
.default{
  background-color: #dcedf7;
  border-radius: 10px;

}
p{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.field{
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 14px;
  padding: 2px;
  
}
.btn-forma{

  margin-left: 35%;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 13px;
  padding: 10px;
  background-color: red;
  color: #ffffff;
  border: none;

  
}
